{% extends '@Projet/app.html.twig' %}

{% block body %}
    <h1>Projetinstitution</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projetInstitution.id }}</td>
            </tr>
            <tr>
                <th>Nompointfocal</th>
                <td>{{ projetInstitution.nomPointFocal }}</td>
            </tr>
            <tr>
                <th>Adressepointfocal</th>
                <td>{{ projetInstitution.adressePointFocal }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projetinstitution_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('projetinstitution_edit', { 'id': projetInstitution.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
