{% extends '@Projet/app.html.twig' %}

{% block body %}
    <h1>Intervention</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ intervention.id }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{% if intervention.debut %}{{ intervention.debut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{% if intervention.fin %}{{ intervention.fin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Objectif</th>
                <td>{{ intervention.objectif }}</td>
            </tr>
            <tr>
                <th>Resultat</th>
                <td>{{ intervention.resultat }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('intervention_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('intervention_edit', { 'id': intervention.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
